*{
    padding: 0%;
    margin: 0%;
}

body{
    background-size: cover;
    
  
    
      
}
#navbar{
    background-color:transparent;
}
.loginform{
    float: right;
    border: 1px solid ;
    border-radius: 5px;
    padding: 3%;
    text-align: center;
    color:white;
    width: 35%;
}
.row{
    padding-top: 10px;
}