*{
    margin: 0;
    padding: 0;
}
/* style of logo */
#logo{
    width: 200px;
    height: 50px;
}
/* style of navbar */
#navbar{
    background-color:transparent;
}
.nav-link{
    color: white;
}
#navmenu{
    float: right;
}
section{
    margin-top: auto;
    padding-top: 5;
    color:darkred;
}
/* welcome heading */
#welcome{
    font-weight: bolder;
    color:darkred;
    padding-top: 25px;
}
/* card image */
.card-pic{
    width: 200px;
    height: 180px;
    align-items: center;
}
.card-pic2{
    width: 200px;
    height: 180px;
    align-items: center;
}
.card:hover{
    transform: scale(1.05);
    border-color: orange;
}
/* card text */
.distname{
    color: darkred;
}
